BOT_TOKEN=123456789:AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
ALLOWED_USER_IDS=[123456789]

GOOGLE_CLOUD_PROJECT=my-project-id
GOOGLE_APPLICATION_CREDENTIALS=credentials/google-cloud/service-account.json

# --- Optional ---

# LOG_MESSAGE_TEXT=false

# LOG_MAX_BYTES=5242880
# LOG_BACKUP_COUNT=10

# MESSAGE_LOG_MAX_BYTES=10485760
# MESSAGE_LOG_BACKUP_COUNT=10
